# Puertos elegidos para NO chocar con el proyecto denuncias-app (Spring Boot usa 5432 para Postgres)
PORT=3001

DB_HOST=localhost
DB_PORT=5544
DB_USER=postgres
DB_PASSWORD=postgrespassword
DB_NAME=socios_db

JWT_SECRET=cambia_este_secreto_en_dev
JWT_EXPIRES_IN=8h
